.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-title{
  color:#303030 !important;
}

.card-title.light{
  color:#FFFFFF !important;
}

.CardContainer{
  overflow: wrap;
}

.card {
    display: inline-block;
    width:  100%;
    overflow: hidden;
}

.card.medium{
  max-height: 60%;
}

.card *{
  cursor: pointer;
}

.inline{
  display: flex;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.card{
  display: inline-flex;
  flex-direction: column;
}

.card-content{
  overflow: scroll !important;
  height: 200px;
}

.card-content.large{
  overflow: scroll !important;
  height: 100%;
}

.card.medium .card-image.recipe{
  max-height: 80%;
}

.card-image.recipe{
  height:500px;
  overflow: hidden;
}

.backButton{
  top: 20px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.card-title.small{
  font-size: 20px;
}

.card-content.right{
  float: right;
}

.card-image.recipe.centerVert img{
  top:-30%;
}
